# OpenGate CLI environment variables
# Copy to .env and fill in your values.

# OG_HOST=https://api.opengate.es
# OG_PROFILE=default
# OG_TOKEN=
OG_USER=carmen.perez@amplia.es
OG_PASSWORD=719car2135menAmplia???
